<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177156835193-ta11u4o4k5qj017uau91ag833tduc5on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177156835193-ta11u4o4k5qj017uau91ag833tduc5on</string>
	<key>API_KEY</key>
	<string>AIzaSyBGSUptNVto2yjGH_JCgxlcusq0M3A6njc</string>
	<key>GCM_SENDER_ID</key>
	<string>177156835193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salam.noorAlQuran</string>
	<key>PROJECT_ID</key>
	<string>noor-al-quran</string>
	<key>STORAGE_BUCKET</key>
	<string>noor-al-quran.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177156835193:ios:02b723c4dd1e53823e51a8</string>
</dict>
</plist>